/* 隐藏 footer */
.relative.text-center.lg\:absolute.lg\:text-left,
.relative.text-center.lg\:absolute.lg\:top-1\/2.lg\:-translate-y-1\/2.lg\:text-right{
  display: none;
}
.footer {
  padding: 0 !important;
}


/* 头部 navbar 文案不换行 */
.navbar-content .right {
  white-space: nowrap;
}

/* tag 页面模糊关闭 */
.tagcloud-container .tagcloud-content .tag-list > li > a {
  --blur: 0 !important;
}